**Question 1** : Write a program to subtract two complex numbers in Python.

In [21]:
complexnum1 = 2+8j
complexnum2 = 3+4j
result = complexnum1 + complexnum2
print(result)

(5+12j)

**Question 2** : Write a program to find the fourth root of a number

In [35]:
num = 2525
degree = 4
result = num**(1/float(degree))
print(result)

7.088679574194651

**Question 3**: Write a program to swap two numbers in Python with the help of a temporary variable.

In [42]:
num1 = 10
num2 = 30
temp = num2

print('Initial value of num1 => ',num1)
print('Initial value of num2 => ',num2)

num2 = num1
num1 = temp

print('\n===========================\n')
print('After swap value of num1 => ',num1)
print('After swap value of num2 => ',num2)

Initial value of num1 =>  10
Initial value of num2 =>  30

===========================

After swap value of num1 =>  30
After swap value of num2 =>  10

**Question 4**: Write a program to swap two numbers in Python without using a temporary variable.

In [43]:
num1 = 10
num2 = 30

print('Initial value of num1 => ',num1)
print('Initial value of num2 => ',num2)

num1 = num1 + num2
num2 = num1 - num2
num1 = num1 - num2

print('\n===========================\n')
print('After swap value of num1 => ',num1)
print('After swap value of num2 => ',num2)

Initial value of num1 =>  10
Initial value of num2 =>  30

===========================

After swap value of num1 =>  30
After swap value of num2 =>  10

**Question 5**: Write a program to convert fahrenheit to kelvin and celsius both.

In [58]:
fahrenheit = 42
fahrenheitToKelvin = ((fahrenheit - 32) * 5/9 + 273.15)
fahrenheitToCelsius = ((fahrenheit - 32) * 5/9)
print('fahrenheit to Kelvin => ',fahrenheitToKelvin)
print('fahrenheit to Celsius => ',fahrenheitToCelsius)

fahrenheit to Kelvin =>  278.7055555555555
fahrenheit to Celsius =>  5.555555555555555

**Question 6**: Write a program to demonstrate all the available data types in Python.

In [48]:
stringVar = 'This is a string' #String
numericVar = 10 #Integer
numericFloatVar = 25.5 #Float
complexNumber = 2 + 3j #Complex Number
listVar = ['a','b','c']
tupleVar = (1,2,3,4)
dictionaryVar = {1:"Apple", 2:"Mango", 3:"Orange"}

print('String Example',stringVariable, "|", type(stringVariable))
print('Integer Example',numericVariable, "|",type(numericVariable))
print('Float Example',numericFloatVariable, "|",type(numericFloatVariable))
print('Complex Number Example',complexNumber, "|",type(complexNumber))
print('List Example',listVariable, "|",type(listVariable))
print('Tuple Example',tupleVariable, "|",type(tupleVariable))
print('Dictionary Example',dictionaryVariable, "|",type(dictionaryVariable))

String Example This is a string | <class 'str'>
Integer Example 10 | <class 'int'>
Float Example 25.5 | <class 'float'>
Complex Number Example (2+3j) | <class 'complex'>
List Example ['a', 'b', 'c'] | <class 'list'>
Tuple Example (1, 2, 3, 4) | <class 'tuple'>
Dictionary Example {1: 'Monday', 2: 'Tuesday', 3: 'Wednesday', 4: 'Thursday'} | <class 'dict'>

**Question 7**: Create a Markdown cell in jupyter and list the steps discussed in the session by Dr. Darshan Ingle sir to create Github profile and upload Githubs Assignment link.

# **Steps to create Github Profile**
**Step 1**: Go to: [Github](https://github.com/join)

**Step 2**: Click on Sign Up

**Step 3**: Sign up by providing your credentials

**Step 4**: Create repository and name it "***LetsUpgrade AI-ML***"

**Step 5**: Ensure that your repository is made **public**

**Step 6**: Upload your folder containing the day's assignment

**Step 7**: Fill the google form provided by the LetsUpgrade Team